.main-body{
    /* width: 100%; */
    height: 100vh;
    background-image: url('/src/img/ujE6yH.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}